---
layout: puglayout
title: Jekyll pug et sass intégrés
---
p#red Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra venenatis enim, eget faucibus diam dapibus sed. Duis in mi ex. Praesent hendrerit non dolor ac finibus. Morbi id eros ornare, ultrices ipsum in, condimentum ante. In sollicitudin diam quis mollis placerat. Sed convallis nisi sit amet tellus tincidunt, sed fermentum sem consequat. Vestibulum vitae nibh mattis, volutpat enim eu, ornare lacus. Duis sagittis eros maximus urna ullamcorper, non interdum tellus euismod. Donec pellentesque purus vitae metus ullamcorper, eu fermentum nulla dapibus. Mauris eu magna vel leo tempus elementum. Mauris pretium condimentum lacus non malesuada. Aliquam erat volutpat. Quisque non pellentesque mauris, ac iaculis sem. Nulla condimentum nisl eu lacus sagittis ornare. Nam lobortis sed urna sit amet fringilla. Nunc vulputate libero at facilisis egestas.

p.green
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra venenatis enim, eget faucibus diam dapibus sed. Duis in mi ex. Praesent hendrerit non dolor ac finibus. Morbi id eros ornare, ultrices ipsum in, condimentum ante. In sollicitudin diam quis mollis placerat. Sed convallis nisi sit amet tellus tincidunt, sed fermentum sem consequat. Vestibulum vitae nibh mattis, volutpat enim eu, ornare lacus. Duis sagittis eros maximus urna ullamcorper, non interdum tellus euismod. Donec pellentesque purus vitae metus ullamcorper, eu fermentum nulla dapibus. Mauris eu magna vel leo tempus elementum. Mauris pretium condimentum lacus non malesuada. Aliquam erat volutpat. Quisque non pellentesque mauris, ac iaculis sem. Nulla condimentum nisl eu lacus sagittis ornare. Nam lobortis sed urna sit amet fringilla. Nunc vulputate libero at facilisis egestas.

img#testpattern1(src="https://cdn.pixabay.com/photo/2013/07/12/12/58/tv-test-pattern-146649_960_720.png")

img#testpattern2(src="https://cdn.pixabay.com/photo/2013/07/12/12/58/tv-test-pattern-146649_960_720.png")

- var notes = {questions: ["Prévalence des syntaxes ? pug vs jekyll. cf extends, include, if, for", "Gestion des balises pug au niveau d'une page jekyll ?"] }
if notes.questions
    h2 Questions.
    each val in notes.questions
        p= val
else
    p Pas de questions.


| {% comment %} Les balises ne s'appliquent pas ? {% endcomment %}
