doctype
html
    head
        title {{page.title}}
        link(rel="stylesheet")(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")(integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh")(crossorigin="anonymous")
        link(rel="stylesheet")(href="/assets/css/styles.css")
    body

        | {% include header.pug %}

        div.container
            h1 {{page.title}}

            | {{content}}

            //pug syntax (tag and loops)
            - var probleme = "Attention à la gestion des espaces.";
            p#red= probleme.toUpperCase()
            - var solutions = ["encadrer mon contenu de pipes (cf auteur)","#[tag contenuvisiblehtml] (cf date)"];
            ol
                each val,index in solutions
                    li= val + " + concatenation et utilisation index" + " " +  index

            //syntax pug(tag) + jekyll(loop and conditional rendering)
            | Liste dynamique des articles :
            ul
                | {% for post in site.posts %}
                li.postlist
                    a(href='{{post.url}}') {{ post.title }}
                    | {% if post.author %}
                    |
                    em.grey par {{ post.author }}
                    | {% endif %}

                    | {% if post.datetostring %}
                    | #[em.grey le {{ post.datetostring }}]
                    | {% endif %}
                | {% endfor %}

